{% extends 'layout.html' %}
{% block content %}

<div style="padding-left:50px;padding-top:50px;width: 950px;">
    <div>
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h1>
                Memorias creadas
            </h1>
        </div>
    </div>
    <div>
        {% for evento in eventos %}
        <div class="jumbotron jumbotron-fluid">

            <div class="container">
                <a class="article-title" href="{{ url_for('evento_unique', evento_id=evento.id) }}">{{ evento.name }}</a>
                <p class="lead">{{ evento.descrpicion }}</p>
                <h4>
                    {{ evento.fecha.strftime('%Y/%m/%d') }}
                </h4>
                <div>
                    Memoria creada por : {{  evento.user.username }}
                </div>
            </div>
        </div>


        {%  endfor %}
    </div>
</div>

{% endblock content %}