{% extends 'layout.html' %}
{% block content %}

<div>
    <div class="container" style="padding-top: 40px;">
        <h1 style="font-family: 'Play', sans-serif;">Login careverga  </h1>
    </div>
    <div>
        <div>

            <div style="height:380px; width: 300px; padding-top:  20px; padding-bottom: 30px; 
        left: 20px; position: relative; left: 500px; border-width: 1px;border-style: solid;
        border-color: black;">
                <form action="" method="POST" style="padding: 20px;" class="group-form">
                    {{ form.hidden_tag() }}
                    <legend>
                        <h2>
                            Pila unete
                        </h2>
                    </legend>
                    <div>
                        <div>{{ form.username.label }}</div>
                        <div>{{ form.username (class="form-control form-control-lg")}}</div>
                    </div>
                    <div>
                        <div>{{ form.password.label }}</div>
                        <div>{{ form.password (class="form-control form-control-lg")}}</div>
                    </div>

                    <div style="padding-top: 60px;">
                        {{ form.submit(class = 'btn btn-dark') }}
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div style="position: relative; left:450px; top: 80px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    </div>

    {% endblock content %}