{% extends 'layout.html' %}
{% block content %}
<div style="width: 700px; position: relative;  top: 100px; " class="shadow-lg p-3 mb-5 bg-white rounded container">
    <div>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small> memoria creada por: </small> {{ eventos.user.username }}
                </div>
                <h2 class="article-title">{{ eventos.name }}</h2>
                <p class="article-content">{{ eventos.descripcion }}</p>
                <p>fecha de la memoria : {{  eventos.fecha.strftime('%Y/%m/%d') }}</p>
            </div>
            <div>
                <div>
                    <div>
                        <h1>
                            Fotos
                        </h1>
                    </div>
                    <div>
                        <div class="media">
                            <div style="position: relative;">
                                <img class="rounded-circle account-img" width="100" height="100" src="{{ archivos }}">
                
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </article>
    </div>
    <div>
        {% if eventos.user == current_user %}
            <div>
                <form action="{{ url_for('delete_evento', evento_id = eventos.id  ) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
    
    
            </div>
            {% endif %}
    </div>
</div>


{% endblock content %}