{% extends 'layout.html' %}
{% block content %}
<div style="padding-left:50px;padding-top:5%;width: 950px;">
    <div>
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h1>
                Posts
            </h1>
        </div>
    </div>
    <div style="padding-left: 20px; ">

        <div class="shadow-sm p-3 mb-5 bg-white rounded" style="width: 300px; float: left;">
            <form action="" method="POST" style="padding: 20px;" class="group-form">
                {{ form.hidden_tag() }}
                <legend>
                    <h3>
                        comenta en esa versh
                    </h3>
                </legend>
                <div class="form-group">
                    <div>
                        <div>{{ form.title.label }}</div>
                        <div>{{ form.title (class="form-control")}}</div>
                    </div>
                    <div>
                        <div>{{ form.content.label }}</div>
                        <div>{{ form.content  (class="form-control")}}</div>
                    </div>

                    <div style="padding-top: 20px;">
                        {{ form.submit(class = 'btn btn-dark') }}
                    </div>
                </div>
            </form>
        </div>
        <div style="padding-left: 330px;">
            <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" >

                {% for post in all_posts  %}
    
                <div class="shadow-lg p-3 mb-5 bg-white rounded container" style="width:700px ;">
                    <div>
                        <img class="rounded-circle article-img" style="height: 70px;"
                            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                        <p class="font-italic" style="float: right;">{{ post.author.username }}</p>
                    </div>
                    <div style="position: relative;left: 10%;">
                        <div class="container">
                            <h2>
                                <a class="article-title"
                                    href="{{ url_for('post_unique', post_id=post.id) }}">{{ post.title }}</a>
                            </h2>
    
    
                            </h2>
                            <h1>
                                {{ post.content }}
                            </h1>
                            <div>
                                {% if current_user.has_liked_post(post) %}
                                <form action="{{ url_for('like_action', post_id=post.id, action='unlike') }}" method="POST">
                                    <button class="btn btn-success"> like</button>
                                </form>
                                {% else %}
                                <form action="{{ url_for('like_action', post_id=post.id, action='like') }}" method="POST">
                                    <button class="btn btn-dark"> unlike</button>
                                </form>
    
    
    
                            </div>
                            {% endif %}
                        </div>
                        <div>
                            <small>
                                {{ post.created.strftime('%Y/%m/%d') }}
                            </small>
                        </div>
                    </div>
    
                </div>
                {% endfor %}
            </div>
        </div>
    
    
        {% endblock content %}
        </div>
        
</div>
</div>