{% extends 'layout.html' %}
{% block content %}
<div style="width: 700px; position: relative;  top: 100px; " class="shadow-lg p-3 mb-5 bg-white rounded container">
    <div>
        <article class="media content-section">
            <div class="media-body">
              <div>
                <img class="rounded-circle article-img"  style="height: 70px;" 
                src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
              </div>
              <div style="position: relative; left: 80px; "> 
                <div class="article-metadata">
                  {{ post.author.username }}
                   
                   <small class="text-muted">{{ post.created.strftime('%Y-%m-%d') }}</small>
                   

                 </div>
                 <h2 class="article-title">{{ post.title }}</h2>
                 <p class="article-content">{{ post.content }}</p>
               </div>
             </article>
             <div>
              </div>
             
            {% if post.author == current_user %}
            <div  style="float:right;">
                <form action="{{ url_for('delete_post', post_id = post.id  ) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
    
    
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}