{% extends 'layout.html' %}
{% block content %}

<div>
    <div class="container"style="padding-top: 40px;">
        <h1>Hey boca e jaiba, Bienvenido</h1>
    </div>
    <div>
        <div>
            
            <div style="height: 600px; width: 300px; padding-top:  20px; padding-bottom: 30px;
             left: 20px; position: relative; left: 500px; border-width: 1px; border-style: solid;
        border-color: black;">
                <form action="{{ url_for('register') }}" method="POST" style="padding:20px;">
                    {{ form.hidden_tag() }}
                
                    
                    <legend>
                        <h2>
                            Registrate en esa verga
                        </h2>
                    </legend>
                    <div class="form-group">
                        <div>{{ form.first.label }}</div>
                        <div>
                            {% if form.first.errors %}
                            {{ form.first(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.first.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.first(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div>{{ form.username.label }}</div>
                        <div>
                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div>{{ form.password.label }}</div>
                        <div>
                            {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <small class="form-text text-muted"> password must be between 8-20 characters </small>

                    </div>
                    <div>
                        <div>{{ form.confirm_password.label }}</div>
                        <div>
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>

                    <div style="padding-top: 40px;">
                        {{ form.submit (class = 'btn btn-dark', type= 'submit') }}
                    </div>
                </form>
                <div style="padding-top: 30px;">
                    <small>
                        ya tienes una cuenta? <a href="{{ url_for('login') }}">Click aca</a>
                    </small>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}